:root{
    --brand-background: #F5F5F5;
    --dark-background: #2F303A;
    --color-button: #2196F3;
    --main-color-link: #757575;
    --main-text-color: #212121;
    --second-text-color: #FFFFFF;
    --main-font-size: 14px;
    --second-font-size: 16px;

   
    --brand-weight: 700;
    --second-weigh: 500;

    --main-align: center;

    --brand-spacing: 0.03em;
    --second-spacing: 0.06em;
}

body{
color: var(--main-color-link);
font-family: 'Roboto', 'Raleway',sans-serif ;
letter-spacing: var(--brand-spacing);
font-size: var(--main-font-size);
background-color: var(--second-text-color);
}
.link{
text-decoration: none;
color: inherit;
}
.list{
list-style: none;
}
.header {
background-color: var(--second-text-color);
}
.logo{
font-family: 'Raleway';
font-weight: var(--brand-weight);
font-size: 26px;
line-height: 1.19;
letter-spacing: var(--brand-spacing);
}
.header .logo {
color: #000000;
}
.head-logo{
color: var(--color-button);
}

.nav-link,
.auth-link{
font-family:'Roboto';
font-weight: var(--second-weigh);
font-size: var(--main-font-size);
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--main-text-color);
}
.nav-link:hover,
.nav-link:focus,
.auth-link:hover,
.auth-link:focus{
color: var(--color-button);
}

.current{
color: var(--color-button) ;
}

.main-tital{
background-color: var(--dark-background);
}

.tital-subject{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: var(--main-align);
letter-spacing: var(--second-spacing);
text-transform: uppercase;
color: var(--second-text-color); 
}


.main-tital>.btn{
background-color: var(--color-button);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color:var(--second-text-color);

align-items: var(--main-align);
text-align: var(--main-align);
font-weight: var(--brand-weight);
font-size: var(--second-font-size);
line-height: 1.88;
letter-spacing: var(--second-spacing);
}
.main-tital>.btn{
border-color: var(--color-button);
}
.main-tital>.btn:hover{
color: var(--main-color-link);
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.list-item{
font-weight: var(--brand-weight);
font-size: var(--main-font-size);
line-height: 1.14;
letter-spacing: var(--brand-spacing);
text-transform: uppercase;
color: var(--main-text-color);
}
.list-item>p{
font-weight:400;
font-size:var(--second-font-size);
line-height: 1.71;
letter-spacing: var(--brand-spacing);
color: var(--main-color-link);
text-transform: none;
}

.subtital{
width: var(--brand-weight);
font-size: 36px;
height: 1.17;
text-align: var(--main-align);
letter-spacing: var(--brand-spacing);
color: var(--main-text-color);
}
.list-btn,
.subtital-name-tital{
letter-spacing: var(--brand-spacing);
font-size: var(--second-font-size);
color: var(--main-text-color);
font-weight: var(--second-weigh);
}
.filter .list-btn{
line-height: 1.62;
}
.list-btn{
background-color: #F5F4FA;
border: 0em;
}
.subtital-name-tital{
line-height: 1.19;
text-align: var(--main-align);
}
.list-tital{
width: var(--brand-weight);
font-size: 18px;
line-height: 2.0;
letter-spacing: var(--second-spacing);
color: var(--main-text-color);
}
.branch,.type{
font-size: var(--second-font-size);
letter-spacing: var(--brand-spacing);
color: var(--main-color-link);
}
.branch{
line-height: 1.88;
text-align: var(--main-align);
}

.footer {
background-color: var(--dark-background);
width: 1600px;
height: 252px;
}
.footer>.logo{
color:var(--second-text-color);
font-family:'Raleway', 'Roboto' sans-serif ; 
}
.logo-web{
color: var(--color-button);
font-family: 'Oleo Script' Script;
}
.footer-address{
line-height: 1.71;
letter-spacing: var(--brand-spacing);
font-style: inherit;
color: rgba(255, 255, 255, 0.6);
}
.footer-address .link:hover,
.footer-address .link:focus{
color: var(--color-button);
}
.footer-address .address{
color: var(--second-text-color);
}
.btn:focus,
.btn:hover{
background-color: var(--color-button);
color: var(--main-text-color);
}

.list-btn:hover,
.list-btn:focus{
background-color: var(--color-button);
color: var(--second-text-color);
}

.btn,.list-btn{
cursor: pointer;
}
